.color2 {
  color: #e9e9e9;
}
.color2:hover {
  color: #e9e9e9;
}
.Round {
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
.RoundedButton {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.PointerCursor {
  cursor: default;
  cursor: hand;
  cursor: pointer;
}
.TextClip {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.ButtonGlyphicons {
  font-size: 16px;
  top: 3px;
}

.Round {
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
.RoundedButton {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.PointerCursor {
  cursor: default;
  cursor: hand;
  cursor: pointer;
}
.TextClip {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.ButtonGlyphicons {
  font-size: 16px;
  top: 3px;
}
.color2 {
  color: #e9e9e9;
}
.color2:hover {
  color: #e9e9e9;
}
.preview-widget {
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fafafa;
  height: 436px;
}
.preview-widget .preview-column {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
}
.preview-widget .preview-column.bold-theme {
  background: #00a0f0;
  color: white;
  border-left: none;
}
.preview-widget .preview-column.bold-theme .preview-item > h3 {
  color: white;
}
.preview-widget .preview-column .preview-item {
  position: relative;
}
.preview-widget .preview-column .preview-item > h3 {
  color: #00a0f0;
  text-align: center;
  border-bottom: 1px solid rgba(51, 62, 72, 0.1);
  padding-bottom: 24px;
}
.preview-widget .preview-column h1 {
  text-align: center;
  margin-top: 0;
}
.preview-widget .preview-column .circle {
  height: 64px;
  width: 64px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
  background: rgba(51, 62, 72, 0.1);
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  text-align: center;
  line-height: 64px;
  color: rgba(51, 62, 72, 0.6);
}
.preview-widget .scroll-container {
  position: absolute;
  top: 16px;
  right: 16px;
  left: 16px;
  bottom: 0;
  overflow-y: scroll;
  height: 332px;
}
.preview-widget.show-preview .scroll-container {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: white;
  z-index: 900;
}
.ui-match {
  background: yellow;
}
.selekt-option-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -ms-box-orient: horizontal;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.selekt-option-row.selected,
.selekt-option-row.selected:hover {
  background: #00a0f0;
  color: white;
}
.selekt-option-row.selected .ui-match,
.selekt-option-row.selected:hover .ui-match {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.selekt-option-row.selected .btn,
.selekt-option-row.selected:hover .btn {
  color: #ffffff;
}
.selekt-option-row.selected:after,
.selekt-option-row.selected:hover:after {
  content: '';
  border-style: solid;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #00a0f0;
  position: absolute;
  right: -8px;
}
.selekt-option-row:hover {
  background: rgba(0, 160, 240, 0.1);
}
.selekt-option-row:hover .badge {
  display: inline-block;
}
.selekt-option-row.assigned:not(.selected),
.selekt-option-row.assigned:hover:not(.selected) {
  color: #007ebd;
}
.selekt-option-row.assigned:not(.selected) .btn,
.selekt-option-row.assigned:hover:not(.selected) .btn {
  color: #00a0f0;
}
.selekt-option-row.assigned:not(.selected) .circle,
.selekt-option-row.assigned:hover:not(.selected) .circle {
  background: rgba(0, 160, 240, 0.1);
  color: #00a0f0;
}
.selekt-option-row > div {
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0;
  cursor: pointer;
  position: relative;
  height: 40px;
  line-height: 40px;
}
.selekt-option-row > div.flex-fill {
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.selekt-option-row > div .circle {
  height: 30px;
  width: 30px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
  background: rgba(51, 62, 72, 0.1);
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  text-align: center;
  line-height: 28px;
  color: rgba(51, 62, 72, 0.6);
  margin-top: -4px;
}
.selekt-option-row > div .badge {
  display: none;
  margin-right: 8px;
}
.selekt-option-row > div .badge.add-item {
  background: #00a0f0;
}
.selekt-option-row > div .btn {
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: 0;
  right: 0;
  border-radius: 0;
  height: 40px;
  width: 50px;
  z-index: 10;
}
.selekt-option-row.ng-move,
.selekt-option-row.ng-enter,
.selekt-option-row.ng-leave {
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
}
.selekt-option-row.ng-leave.ng-leave-active,
.selekt-option-row.ng-move,
.selekt-option-row.ng-enter {
  opacity: 0;
  max-height: 0;
}
.selekt-option-row.ng-leave,
.selekt-option-row.ng-move.ng-move-active,
.selekt-option-row.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 40px;
}
.search-widget {
  width: 100%;
  position: relative;
  height: 436px;
}
.search-widget:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
.search-widget .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.search-widget .search-field-wrapper {
  height: 64px;
  z-index: 20;
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  padding: 0 16px;
  border-bottom: 1px solid rgba(51, 62, 72, 0.1);
}
.search-widget .search-field-wrapper .search-field {
  position: absolute;
  top: 0;
  left: 16px;
  right: 16px;
  height: 48px;
  background: white;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.search-widget .search-field-wrapper .search-field .icon {
  position: absolute;
  left: 12px;
  top: 12px;
  color: rgba(0, 0, 0, 0.25);
  font-family: 'Glyphicons Regular';
  font-style: normal;
  font-size: 24px;
}
.search-widget .search-field-wrapper .search-field input {
  background: none;
  width: 100%;
  padding: 0 16px;
  line-height: 36px;
  height: 48px;
  text-align: center;
  color: #007ebd;
  border: 1px solid transparent;
}
.search-widget .search-field-wrapper .search-field input:focus {
  outline: none;
}
.search-widget .search-field-wrapper .search-field.focus {
  border: 1px solid rgba(0, 0, 0, 0.35);
}
.search-widget .search-field-wrapper .search-field.focus .icon {
  color: #00a0f0;
}
.search-widget .search-field-wrapper .search-field .btn-close {
  position: absolute;
  top: 4px;
  right: 4px;
  height: 38px;
  z-index: 100;
  background: rgba(0, 0, 0, 0.35);
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: white;
}
.search-widget .widget-options {
  position: absolute;
  top: 48px;
  left: 16px;
  right: 16px;
  z-index: 21;
  height: 336px;
}
.search-widget .widget-options .subhead {
  font-size: 10px;
  color: #aaa;
  padding: 0 16px;
  cursor: default;
  line-height: 32px;
  height: 32px;
  border-bottom: 0;
  margin-top: 8px;
  text-transform: uppercase;
}
.search-widget .widget-options .subhead:hover {
  background: none;
}
.search-widget .widget-options:before {
  content: '';
  position: absolute;
  left: 10px;
  top: -11px;
  border-style: solid;
  border-width: 0 14px 14px 14px;
  border-color: transparent transparent rgba(0, 0, 0, 0.35) transparent;
}
.search-widget .widget-options:after {
  content: '';
  position: absolute;
  left: 12px;
  top: -9px;
  border-style: solid;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent #ffffff transparent;
}
.search-widget .widget-options.animate-if.ng-enter,
.search-widget .widget-options.animate-if.ng-leave {
  overflow: hidden;
}
.search-widget .widget-options.animate-if.ng-enter,
.search-widget .widget-options.animate-if.ng-leave,
.search-widget .widget-options.animate-if.ng-enter .scroll-container,
.search-widget .widget-options.animate-if.ng-leave .scroll-container {
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
  z-index: 0;
}
.search-widget .widget-options.animate-if.ng-enter .scroll-container,
.search-widget .widget-options.animate-if.ng-leave.ng-leave-active .scroll-container {
  opacity: 0;
  top: -336px;
}
.search-widget .widget-options.animate-if.ng-leave .scroll-container,
.search-widget .widget-options.animate-if.ng-enter.ng-enter-active .scroll-container {
  top: 0;
  opacity: 1;
}
.search-widget .widget-options .scroll-container {
  position: relative;
  right: 0;
  left: 0;
  top: auto;
  overflow-y: scroll;
  height: 332px;
  margin-top: 2px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #fcfcfc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.search-widget .widget-options .scroll-container .btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
}
.search-widget .widget-options .scroll-container > div:not(.selekt-option-row):not(.subhead) {
  padding: 16px;
}
.search-widget .widget-members {
  position: relative;
  z-index: 0;
  height: 348px;
  top: 64px;
}
.search-widget .widget-members.focus .scroll-container > div.selected {
  background: rgba(0, 0, 0, 0.35);
  background: none;
}
.search-widget .widget-members .selekt-option-row > div:first-child {
  padding-left: 16px;
}
.search-widget .widget-members .scroll-container {
  position: absolute;
  top: 16px;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  height: 316px;
}
.search-widget .widget-members .scroll-container > div:not(.selekt-option-row) {
  padding: 16px;
}
.search-widget .widget-members .scroll-container .btn {
  color: rgba(0, 0, 0, 0.25);
  position: relative;
  top: 0;
  right: 0;
  height: 40px;
  padding-left: 16px;
  width: 50px;
}
.btn:focus,
.btn:active,
.btn:focus:active {
  outline: none;
}

.Round {
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
.RoundedButton {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.PointerCursor {
  cursor: default;
  cursor: hand;
  cursor: pointer;
}
.TextClip {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.ButtonGlyphicons {
  font-size: 16px;
  top: 3px;
}
.color2 {
  color: #e9e9e9;
}
.color2:hover {
  color: #e9e9e9;
}
