.Round {
  border-radius: 9999px;
}
.RoundedButton {
  border-radius: 2px;
}
.PointerCursor {
  cursor: pointer;
}
.TextClip {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.HyphensAuto {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.WordBreak {
  word-break: break-all;
  word-break: break-word;
  -ms-word-break: break-all;
  overflow-wrap: break-word;
}
.GlyphiconFont {
  font-family: 'Glyphicons Regular';
}
.ButtonGlyphicons {
  font-size: 1rem;
  top: 3px;
}
.flexDisplay {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.flexContainerStatic {
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-box-orient: horizontal;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.AbsoluteFill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.BtnWhite {
  background: rgba(255, 255, 255, 0.65);
  background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f7f7f7));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
  border-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  color: #303030;
}
