
<div class="preview-widget" ng-class="{ 'preview-active' : state.preview }">

	<button type="button" class="btn btn-preview" ng-model="state.preview" btn-checkbox
	        btn-checkbox-true="1" btn-checkbox-false="0">
		<span class="glyphicons eye_close" ng-show="state.preview"></span>
		<span class="glyphicons eye_open" ng-hide="state.preview"></span>
	</button>


	<div style="padding: 0" ng-class="state.preview ? 'col-xs-7' : 'col-xs-12'" class="assigned-items">
		<div class="insight"
		     ng-mouseenter="focus = true">

			<div class="search-field-wrapper" ng-class="{focus:focus && showOptions}">

				<div class="search-field-inner">
					<div class="flex-fill">
						<div class="search-field" ng-class="{focus:focus && showOptions }">
							<span class="glyphicons search icon" ng-hide="state.loading"></span>
							<span class="glyphicons refresh icon" ng-show="state.loading"></span>
							<button type="button" class="btn btn-close"
							        ng-if="showOptions"
							        ng-click="closeOptions()">
								Done
							</button>
							<input class="input" ng-model="query.name"
							       ng-click="showOptions = true"
							       placeholder="Find items ...">
						</div>
					</div>
					<div ng-hide="state.preview" class="preview-spacer"></div>
				</div>

				<!-- user is searching -->
				<div class="widget-options animate-if" ng-if="query && showOptions">
					<div class="scroll-container">

						<div ng-if="!filtered.length">No results found.</div>

						<div ng-if="!state.preview"
						     option-row
						     ng-repeat="item in filtered = ( insight.data | filter:query | orderBy: 'name' )"
						     class="insight-option-row"
						     ng-class="{assigned:item.assigned}"
						     ng-click="toggleItem(item)">
						</div>

						<div ng-if="state.preview"
						     option-row
						     ng-repeat="item in insight.data | filter:query | orderBy: 'name'"
						     class="insight-option-row"
						     ng-class="{assigned:item.assigned}"
						     ng-click="toggleItem(item)"

						     selection-model
						     selection-model-on-change="change(item)">
						</div>
					</div>
				</div>

				<!-- safari style browse options -->
				<div class="widget-options animate-if" ng-if="!query && showOptions">
					<div class="scroll-container" ng-if="state.preview">

						<!-- TODO: right now you can select an item in BOTH lists
							 How to prevent this?
						-->

						<div class="subhead">Favorites</div>

						<div option-row
						     ng-repeat="item in favorites"
						     class="insight-option-row"
						     ng-class="{assigned:item.assigned}"
						     ng-click="toggleItem(item)"

						     selection-model-on-change="change(item)"
						     selection-model>
						</div>

						<div class="subhead">Recent</div>

						<div option-row
						     ng-repeat="item in recents"
						     class="insight-option-row"
						     ng-class="{assigned:item.assigned}"
						     ng-click="toggleItem(item)"

						     selection-model-on-change="change(item)"
						     selection-model>
						</div>
					</div>

					<div class="scroll-container" ng-if="!state.preview">
						<div class="subhead">Favorites</div>

						<div option-row
						     ng-repeat="item in favorites"
						     class="insight-option-row"
						     ng-class="{assigned:item.assigned}"
						     ng-click="toggleItem(item)">
						</div>

						<div class="subhead">Recent</div>

						<div option-row
						     ng-repeat="item in recents"
						     class="insight-option-row"
						     ng-class="{assigned:item.assigned}"
						     ng-click="toggleItem(item)">
						</div>
					</div>
				</div>
			</div>

			<div class="widget-members"  ng-class="{focus:focus && showOptions}">
				<div class="scroll-container">
					<div ng-if="assignedItems.length === 0" style="color: gray">
						No items assigned.
					</div>

					<div ng-repeat="item in assignedItems | filter:query | orderBy: 'name'"
					     class="insight-option-row"
					     selection-model-on-change="change(item)"
					     selection-model>
						<div>
							<span class="circle glyphicons group"></span>
						</div>
						<div class="flex-fill">
							{{ item.name }}
						</div>
						<div>
							<button type="button" class="btn btn-link pull-right" ng-click="removeItem(item)" selection-model-ignore>
								<span class="glyphicons remove_2"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="overlay" ng-show="showOptions === true" ng-click="closeOptions()"></div>
		</div>
	</div>

	<div class="col-xs-5 preview-column animate-if" ng-if="state.preview" ng-class="{ 'show-preview': showOptions }">

		<!--<button type="button"
		        class="btn btn-preview"
		        ng-model="state.preview" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
			<span class="glyphicons eye_close"></span>
		</button>-->

		<div class="scroll-container">

			<div class="scroll-message" ng-if="!filteredAssignedItems.length && !filteredData.length && !showMessage">
				<h3>No Items Selected</h3>
			</div>
			<div class="scroll-message" ng-show="showMessage">
				<h3>{{ messageItem.name }} was removed</h3>
			</div>

			<!-- preview has to be specific to data type -->
			<div class="preview-item"
			     ng-repeat="item in filteredAssignedItems = ( assignedItems | filter:{selected:true} | limitTo:1 | orderBy:reverse )"
			     ng-if="!query">
				<h1>
					<span class="circle glyphicons group"></span>
				</h1>

				<h3>{{ item.name }}</h3>
				<p>{{ item.description }}</p>

				<p ng-if="item.roles.length" ng-repeat="role in item.roles track by $index">{{ role.name }}</p>
				<p ng-if="!item.roles.length">No assigned roles.</p>

				<p ng-if="item.users.length" ng-repeat="user in item.users track by $index">{{ user }}</p>
				<p ng-if="!item.users.length">No assigned users.</p>
			</div>


			<div class="preview-item" ng-repeat="item in filteredData = ( insight.data | filter:{selected:true} | limitTo:1 | orderBy:reverse )"
			     ng-if="query">
				<h1>
					<span class="circle glyphicons group"></span>
				</h1>
				<h3>{{ item.name }}</h3>
				<p>{{ item.description }}</p>

				<p ng-if="item.roles.length" ng-repeat="role in item.roles track by $index">{{ role.name }}</p>
				<p ng-if="!item.roles.length">No assigned roles.</p>

				<p ng-if="item.users.length" ng-repeat="user in item.users track by $index">{{ user }}</p>
				<p ng-if="!item.users.length">No assigned users.</p>
			</div>



		</div>
	</div>
</div>
