<div class="preview-widget" ng-class="{ 'preview-active' : state.preview.showPreview }" ng-keydown="preventEnter($event)">

	<span ng-show="state.preview.usePreview">
		<button type="button"
				class="btn btn-preview"
				ng-click="state.preview.showPreview = false"
				ng-show="state.preview.showPreview">
			<span class="glyphicons eye_close"></span>
		</button>
		<button type="button"
				class="btn btn-preview"
				ng-click="state.preview.showPreview = true"
				ng-hide="state.preview.showPreview">
			<span class="glyphicons eye_open"></span>
		</button>
	</span>

	<div ng-class="state.preview.showPreview &amp;&amp; state.preview.usePreview ? 'col-xs-7' : 'col-xs-12'" class="assigned-items">
		<div class="insight"
		     ng-mouseenter="focus = true">

			<div class="search-field-wrapper" ng-class="{focus:focus &amp;&amp; showOptions}">

				<div class="search-field-inner">
					<div class="flex-fill">
						<div class="search-field" ng-class="{focus:focus &amp;&amp; showOptions }">
							<span class="glyphicons search icon"
							      ng-hide="insight.query &amp;&amp; !filteredOptions.length &amp;&amp; !state.noResults"></span>
							<vb-loading-spinner size="small" opt="accent"
							                    ng-show="insight.query &amp;&amp; !filteredOptions.length &amp;&amp; !state.noResults">
							</vb-loading-spinner>
							<button type="button" class="btn btn-close"
								ng-show="showOptions"
								ng-click="closeOptions()">
								{{::insight.strings.done}}
							</button>
							<input class="input" ng-model="insight.query"
							       ng-click="openOptions(); updateOptions()"
							       ng-model-options="{ debounce: insight.loadQueryPage &amp;&amp; 300 || 0}"
							       ng-change="updateOptions()"
								   placeholder="{{::insight.strings.findItemsPlaceholder}}">
						</div>
					</div>
					<div ng-hide="state.preview.showPreview" class="preview-spacer"></div>
				</div>

				<!-- user is searching -->
				<div class="widget-options animate-if" ng-if="showOptions">
					<div class="scroll-container" ng-if="insight.query">

						<div ng-show="insight.query &amp;&amp; !filteredOptions.length"
						     class="status-message animate-show">
							<div ng-show="state.noResults">{{::insight.strings.noResultsFound}}</div>
							<div ng-hide="state.noResults">
								{{::insight.strings.searching}}
							</div>
						</div>

						<div ng-if="!state.preview.showPreview"
						     option-row
						     ng-repeat="item in filteredOptions"
						     class="insight-option-row"
						     ng-class="{assigned:item.assigned}"

						     selection-model
						     selection-model-cleanup-strategy="deselect"
						     selection-model-on-change="change(item)">
						</div>

						<div ng-if="state.preview.showPreview"
						     option-row
						     ng-repeat="item in filteredOptions"
						     class="insight-option-row"
						     ng-class="{assigned:item.assigned}"

						     selection-model
						     selection-model-cleanup-strategy="deselect"
						     selection-model-on-change="change(item)">
						</div>
					</div>

					<!-- safari style browse options -->
					<div ng-if="!insight.query &amp;&amp; showOptions">
						<div class="scroll-container">
						</div>
					</div>
				</div>
			</div>

			<div class="widget-members"  ng-class="{focus:focus &amp;&amp; showOptions}">
				<div class="scroll-container">
					<div ng-show="assignedItems.length === 0" class="no-items">
						{{::insight.strings.noItemsAssigned}}
					</div>
					<div class="assigned-option-container" infinite-scroll="loadAssignedPage()" infinite-scroll-parent="true">
						<div assigned-option-row
						     ng-repeat="item in filterOptions(assignedItems)"
						     class="insight-option-row"
						     selection-model-on-change="change(item)"
						     selection-model>
						</div>
					</div>
				</div>
			</div>
			<div class="overlay" ng-show="showOptions" ng-click="closeOptions()"></div>
		</div>
	</div>

	<div class="col-xs-5 preview-column animate-if" ng-if="state.preview.showPreview" ng-class="{ 'show-preview': showOptions }">

		<div class="scroll-container">

			<div class="scroll-message" ng-show="!filteredAssignedItems.length &amp;&amp; !filteredData.length &amp;&amp; !showMessage">
				<h3>No Items Selected</h3>
			</div>
			<div class="scroll-message" ng-show="showMessage">
				<h3>{{ messageItem.name }} was removed</h3>
			</div>

			<!-- showPreview has to be specific to data type -->
			<div class="preview-item"
			     ng-repeat="item in filteredAssignedItems = ( assignedItems | filter:{selected:true} | limitTo:1 | orderBy:reverse )"
			     ng-if="!query">
				<h1>
					<span class="circle glyphicons" ng-class="insight.dataType || insight.dataTypes[item[insight.fieldDefs.dataType]]"></span>
				</h1>

				<h3>{{ item.name }}</h3>
				<p>{{ item.description }}</p>

				<p ng-if="item.roles.length" ng-repeat="role in item.roles track by $index">{{ role.name }}</p>
				<p ng-if="!item.roles.length">No assigned roles.</p>

				<p ng-if="item.users.length" ng-repeat="user in item.users track by $index">{{ user }}</p>
				<p ng-if="!item.users.length">No assigned users.</p>
			</div>


			<div class="preview-item" ng-repeat="item in filteredData = ( insight.data | filter:{selected:true} | limitTo:1 | orderBy:reverse )"
			     ng-if="query">
				<h1>
					<span class="circle glyphicons" ng-class="insight.dataType || insight.dataTypes[item[insight.fieldDefs.dataType]]"></span>
				</h1>
				<h3>{{ item.name }}</h3>
				<p>{{ item.description }}</p>

				<p ng-if="item.roles.length" ng-repeat="role in item.roles track by $index">{{ role.name }}</p>
				<p ng-if="!item.roles.length">No assigned roles.</p>

				<p ng-if="item.users.length" ng-repeat="user in item.users track by $index">{{ user }}</p>
				<p ng-if="!item.users.length">No assigned users.</p>
			</div>
		</div>
	</div>
</div>
