<div ng-click="toggleItemAssignment(item)">
	<button type="button" class="btn btn-link pull-right btn-assigned" ng-show="item.assigned">
		<span class="glyphicons ok_2"></span>
	</button>
	<button type="button" class="btn btn-link pull-right" ng-hide="item.assigned">
		<span class="glyphicons plus"></span>
	</button>
</div>
<div ng-click="toggleItemAssignment(item)">
	<span class="circle glyphicons" ng-class="getIconClass(item)"></span>
</div>
<div class="flex-fill" ng-click="toggleItemAssignment(item)">
	<span ng-bind-html="item[insight.fieldDefs.display] | highlight:insight.query"></span>
</div>

