<div ng-click="toggleItem(item)">
	<button type="button" class="btn btn-link pull-right btn-assigned" ng-show="item.assigned">
		<span class="glyphicons ok_2"></span>
	</button>
	<button type="button" class="btn btn-link pull-right" ng-hide="item.assigned">
		<span class="glyphicons plus"></span>
	</button>
</div>
<div ng-click="toggleItem(item)">
	<span class="circle glyphicons group"></span>
</div>
<div class="flex-fill" ng-click="toggleItem(item)">
	<span ng-bind-html="item.name | highlight:query.name"></span>
</div>
<div ng-if="insight.allowEditAccess">
	<!-- dummy for edit access permission -->
	<button type="button"
	        class="btn btn-link btn-edit-access badge"
	        selection-model-ignore="true"
	        ng-model="item.active"
	        ng-click="checkAssignedState(item)"
	        btn-checkbox
	        btn-checkbox-true="true"
	        btn-checkbox-false="false">
		<span ng-show="item.active" class="glyphicons ok_2"></span>
		<span ng-hide="item.active" class="glyphicons minus"></span>
		Edit Access
	</button>
</div>
