
<div class="preview-widget">
	<div style="padding: 0" ng-class="preview ? 'col-sm-7' : 'col-sm-12'">
		<div class="search-widget"
		     ng-mouseenter="focus = true">

			<div class="search-field-wrapper" ng-class="{focus:focus && showOptions}">

				<div class="search-field" ng-class="{focus:focus && showOptions }">

					<span class="glyphicons search icon" ng-hide="state.loading"></span>
					<span class="glyphicons refresh icon" ng-show="state.loading"></span>

					<button class="btn btn-close"
					        ng-if="showOptions"
					        ng-click="closeOptions()">
						Done
					</button>

					<input class="input" ng-model="query.name"
					       ng-click="showOptions = true"
					       placeholder="Find items ...">
				</div>

				<!-- user is searching -->
				<div class="widget-options animate-if" ng-if="query && showOptions">
					<div class="scroll-container">

						<div ng-if="!filtered.length">No results found.</div>

						<div ng-if="!preview"
						     option-row template-url="option-row.html"
						     ng-repeat="item in filtered = ( data | filter:query | orderBy: 'name' )"
						     class="selekt-option-row"
						     ng-class="{assigned:item.assigned}"
						     ng-click="toggleItem(item)">
						</div>

						<div ng-if="preview"
						     option-row template-url="option-row.html"
						     ng-repeat="item in data | filter:query | orderBy: 'name'"
						     class="selekt-option-row"
						     ng-class="{assigned:item.assigned}"
						     ng-click="toggleItem(item)"

						     selection-model-cleanup-strategy="deselect"
						     selection-model
						     selection-model-on-change="change(item)">
						</div>
					</div>
				</div>

				<!-- safari style browse options -->
				<div class="widget-options animate-if" ng-if="!query && showOptions">
					<div class="scroll-container" ng-if="preview">

						<!-- TODO: right now you can select an item in BOTH lists
							 How to prevent this?
						-->

						<div class="subhead">Favorites</div>

						<div option-row template-url="option-row.html"
						     ng-repeat="item in favorites"
						     class="selekt-option-row"
						     ng-class="{assigned:item.assigned}"
						     ng-click="toggleItem(item)"

						     selection-model-cleanup-strategy="deselect"
						     selection-model-on-change="change(item)"
						     selection-model>
						</div>

						<div class="subhead">Recent</div>

						<div option-row template-url="option-row.html"
						     ng-repeat="item in recents"
						     class="selekt-option-row"
						     ng-class="{assigned:item.assigned}"
						     ng-click="toggleItem(item)"

						     selection-model-cleanup-strategy="deselect"
						     selection-model-on-change="change(item)"
						     selection-model>
						</div>
					</div>

					<div class="scroll-container" ng-if="!preview">
						<div class="subhead">Favorites</div>

						<div option-row template-url="option-row.html"
						     ng-repeat="item in favorites"
						     class="selekt-option-row"
						     ng-class="{assigned:item.assigned}"
						     ng-click="toggleItem(item)">
						</div>

						<div class="subhead">Recent</div>

						<div option-row template-url="option-row.html"
						     ng-repeat="item in recents"
						     class="selekt-option-row"
						     ng-class="{assigned:item.assigned}"
						     ng-click="toggleItem(item)">
						</div>
					</div>
				</div>
			</div>

			<div class="widget-members"  ng-class="{focus:focus && showOptions}">
				<div class="scroll-container">
					<div ng-if="assignedItems.length === 0" style="color: gray">
						No items assigned.
					</div>

					<div ng-repeat="item in assignedItems | filter:query | orderBy: 'name'"
					     class="selekt-option-row"
					     selection-model-cleanup-strategy="deselect"
					     selection-model-on-change="selection(item)"
					     selection-model>
						<div>
							<span class="circle glyphicon glyphicon-user"></span>
						</div>
						<div class="flex-fill">
							{{ item.name }}
						</div>
						<div>
							<button class="btn btn-link pull-right" ng-click="removeItem(item)" selection-model-ignore>
								<span class="glyphicons remove_2"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="overlay" ng-show="showOptions === true" ng-click="closeOptions()"></div>
		</div>
	</div>

	<div class="col-sm-5 preview-column" ng-if="preview" ng-class="{ 'show-preview': showOptions }">

		<div class="scroll-container">
			<!-- preview has to be specific to data type -->
			<div class="preview-item" ng-repeat="item in assignedItems | filter:{selected:true} | limitTo:1 | orderBy:reverse" ng-if="!query">
				<h1>
					<span class="circle glyphicon glyphicon-user"></span>
				</h1>

				<h3>{{ item.name }}</h3>
				<p>{{ item.description }}</p>

				<p ng-if="item.roles.length" ng-repeat="role in item.roles track by $index">{{ role.name }}</p>
				<p ng-if="!item.roles.length">No assigned roles.</p>

				<p ng-if="item.users.length" ng-repeat="user in item.users track by $index">{{ user }}</p>
				<p ng-if="!item.users.length">No assigned users.</p>
			</div>


			<div class="preview-item" ng-repeat="item in data | filter:{selected:true} | limitTo:1 | orderBy:reverse" ng-if="query">

				<h3>{{ item.name }}</h3>
				<p>{{ item.description }}</p>

				<p ng-if="item.roles.length" ng-repeat="role in item.roles track by $index">{{ role.name }}</p>
				<p ng-if="!item.roles.length">No assigned roles.</p>

				<p ng-if="item.users.length" ng-repeat="user in item.users track by $index">{{ user }}</p>
				<p ng-if="!item.users.length">No assigned users.</p>
			</div>

			<div ng-show="showMessage">
				{{ messageItem.name }} was removed.
			</div>

		</div>
	</div>
</div>

<div class="row" style="margin-top: 15px;">
	<div class="col-sm-12">
		<label>Show Preview</label><br>
		<div class="btn-group">
			<label class="btn btn-primary" ng-model="preview" btn-radio="true">On</label>
			<label class="btn btn-primary" ng-model="preview" btn-radio="false">Off</label>
		</div>
	</div>
</div>
