<!doctype html>
<html lang="en" ng-app="example">
<head>
	<meta charset="utf-8">
	<title>Angular insight widget example</title>
	<link href="../bower_components/glyphicons-pro-1.8/css/glyphicons.css" rel="stylesheet" media="screen">
	<link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="css/main.css" rel="stylesheet" media="screen">
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular-animate/angular-animate.js"></script>
	<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="../bower_components/angular-selection-model/dist/selection-model.js"></script>
	<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="../bower_components/ui-utils/ui-utils.js"></script>
	<script src="../bower_components/underscore/underscore.js"></script>
	<script src="./bundle.js"></script>
</head>
<body ng-controller="ExampleController">
	<h2>Basic Example</h2>
	<div insight="insightOptions" ng-model="assignedGroups"></div>
	Current Names: "<span ng-repeat="group in assignedGroups">{{ ::group.name }}<span ng-if="!$last">,</span></span>"
	<p>Basic example binding assigned items to a property on scope using the ng-model attribute.</p>
</body>
</html>
